$White: #fff;
$Red: #710000;
$Brown: #140000;


//Kilder:
//Jobbet sammen med Marianne Stavrum Myrvold og Jennifer Grimsrud
//https://github.com/ackarlse/news
//https://github.com/ackarlse/gitcollab
//https://github.com/ackarlse/api-recipe
//LMS Webtricks for UIN